.emblem {
    max-width: 100%;
    height: auto;
    float: right;
    padding-top: 24px;
}

.banner {
    background-color: var(--blue);
    color: var(--white);
    max-width: none;
    width: 100%;
}

.page-info {
    margin: auto;
    padding-left: 8rem;
    max-width: 762px;
}
