<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
  
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <body>
        <div class="style-guide-paragraph">
            <h1>Buttons</h1>
            <p class="body-base">Effective buttons look clearly clickable through visual cues like borders, shadows, or color contrast. Users should immediately recognize interactive 
                elements without guessing, and button styling must be distinct enough for users with visual impairments to identify them easily.</p>
        </div>

        <table>
            <tr>
                <th><p class="body-scale-1">Small</p></th>
                <th><p class="body-scale-1">Medium</p></th>
                <th><p class="body-scale-1">Large</p></th>
            </tr>

            <tr>
                <td><button class="button-primary-sm" href="">Button Title </button></td>
                <td><button class="button-primary-med" href="">Button Title </button></td>
                <td><button class="button-primary-lg" href="">Button Title </button></td>
            </tr>

            <tr>
                <td><button class="button-secondary-sm" href="">Button Title </button></td>
                <td><button class="button-secondary-med" href="">Button Title </button></td>
                <td><button class="button-secondary-lg" href="">Button Title </button></td>
            </tr>

            <tr>
                <td><button class="button-outline-primary-sm" href="">Button Title </button></td>
                <td><button class="button-outline-primary-med" href="">Button Title </button></td>
                <td><button class="button-outline-primary-lg" href="">Button Title </button></td>
            </tr>

            <tr>
                <td><button class="button-outline-secondary-sm" href="">Button Title </button></td>
                <td><button class="button-outline-secondary-med" href="">Button Title </button></td>
                <td><button class="button-outline-secondary-lg" href="">Button Title </button></td>
            </tr>

            <tr>
                <td><button class="button-link-sm" href="">Button Title </button></td>
                <td><button class="button-link-med" href="">Button Title </button></td>
                <td><button class="button-link-lg" href="">Button Title </button></td>
            </tr>

        </table>


        <script src="../js/components/navigation.js" async defer></script>
        <script src="../js/main.js"></script>

    </body>

</html>