<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
  
        <script src="https://unpkg.com/htmlincludejs"></script>
    </head>

    <body>
        <p class="body-base">Quest Design System uses vestor illustrations from the artist PureSolution on Adobe Stock. </p>
        <a class="button-secondary-med" href="https://stock.adobe.com/contributor/203129963/puresolution?load_type=author&prev_url=detail">View PureSolution Illustrations</a>
        
        

    </body>
</html>